
<div class="card">
    <div class="card-img">
        <img src="" alt="">
    </div>
</div>
<div>
    <div class="card-body">
        <h2 class="card-title"></h2>
        <p class="card-text">Capital: </p>
        <p class="card-text">Population: </p>
        <p class="card-text">Languages: </p>
        <ul class="list-group">
            <li class="list-group-item"></li>
        </ul>
    </div>
</div>
